DataTables-1.12.1/** linguist-vendored
FixedHeader-3.2.4/** linguist-vendored
Responsive-2.3.0/** linguist-vendored
jQuery-3.6.0/** linguist-vendored
WanaKana-5.0.2/** linguist-vendored
datatables.css linguist-vendored
datatables.js linguist-vendored
datatables.min.css linguist-vendored
datatables.min.js linguist-vendored
